
<ion-content>
    <div class="bg-img">
        <h1>Today,</h1>
        <h5>{{currentDate}}</h5>
        <ion-card *ngFor="let task of allTasks">
            <ion-item>
                <ion-toggle (ionChange)="changeCheckedState(task)" [(ngModel)]="task.checked" color="danger" class="ion-toggle"></ion-toggle>
                <ion-label>
                    <h2 *ngIf="!task.checked">{{task.text}} </h2>
                    <h2 *ngIf="task.checked" style="text-decoration: line-through;">{{task.text}} </h2>
                    <p>{{task.date}}</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-item>
            <ion-input [(ngModel)]="newTask"></ion-input>
            <ion-button (click)="addNewTask()">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </div>
</ion-content>
<ion-header mode="ios">
  <ion-toolbar >
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <img src="./assets/research.svg" style="width: 30%;">
      </ion-col>
      <ion-col size="10">
        <div class="navbar" class="ion-text-center">
          <ion-button  color= "warning" (click)="stilltask()"class="link">
            Still
            <ion-icon name="hourglass-outline"></ion-icon>

          </ion-button>
          <ion-button color="success" (click)="donetask()"class="link">
            Done
            <ion-icon name="thumbs-up-outline"></ion-icon>
          </ion-button>
          <ion-button color= "danger" (click)="logout()"class="link">
            Logout
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
